Fazer a importação do arquivo disponível em https://raw.githubusercontent.com/ironhack-datalabs/datalis0819/master/module-2/lab-tableau-data-visualization/data/countries-of-the-world.csv. A base de dados traz informações sobre os países do mundo.

In [2]:
import pandas as pd
import numpy as np

In [3]:
base = "https://raw.githubusercontent.com/ironhack-datalabs/datalis0819/master/module-2/lab-tableau-data-visualization/data/countries-of-the-world.csv"
df = pd.read_csv(base)

In [4]:
df.columns = df.columns.str.replace(' ', '_') 
df.columns = df.columns.str.replace('(', '') 
df.columns = df.columns.str.replace(')', '')
df.columns = df.columns.str.replace('.', '')  
df.columns = df.columns.str.replace('/', '_')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 227 entries, 0 to 226
Data columns (total 20 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Country                           227 non-null    object
 1   Region                            227 non-null    object
 2   Population                        227 non-null    int64
 3   Area_sq_mi                        227 non-null    int64
 4   Pop_Density_per_sq_mi             227 non-null    object
 5   Coastline_coast_area_ratio        227 non-null    object
 6   Net_migration                     224 non-null    object
 7   Infant_mortality_per_1000_births  224 non-null    object
 8   GDP_$_per_capita                  226 non-null    float64
 9   Literacy_%                        209 non-null    object
 10  Phones_per_1000                   223 non-null    object
 11  Arable_%                          225 non-null    object
 12  Crops_%                           225 non-null    object
 13  Other_%                           225 non-null    object
 14  Climate                           205 non-null    object
 15  Birthrate                         224 non-null    object
 16  Deathrate                         223 non-null    object
 17  Agriculture                       212 non-null    object
 18  Industry                          211 non-null    object
 19  Service                           212 non-null    object
dtypes: float64(1), int64(2), object(17)
memory usage: 35.6+ KB

1)Determinar a quantidade de países por região (Region).

In [6]:
df_agrupado = df.groupby('Region')['Country'].count().reset_index()
df_agrupado

                                 Region  Country
0         ASIA (EX. NEAR EAST)                28
1   BALTICS                                    3
2                  C.W. OF IND. STATES        12
3   EASTERN EUROPE                            12
4               LATIN AMER. & CARIB           45
5   NEAR EAST                                 16
6   NORTHERN AFRICA                            6
7   NORTHERN AMERICA                           5
8   OCEANIA                                   21
9   SUB-SAHARAN AFRICA                        51
10  WESTERN EUROPE                            28

2) Determinar quantos países possuem mais de 100 milhoẽs de habitantes.

In [8]:
#df.query('Population > 100000000').shape[0]
#df[df['Population'] > 100000000].shape[0]
country_big_habitante = df.query('Population > 100000000')
country_big_habitante.shape[0]

11