Fazer a importação do arquivo disponível em https://raw.githubusercontent.com/ironhack-datalabs/datalis0819/master/module-2/lab-tableau-data-visualization/data/countries-of-the-world.csv. A base de dados traz informações sobre os países do mundo.

In [2]:
import pandas as pd
import numpy as np

In [3]:
base = "https://raw.githubusercontent.com/ironhack-datalabs/datalis0819/master/module-2/lab-tableau-data-visualization/data/countries-of-the-world.csv"
df = pd.read_csv(base)

In [4]:
df.columns = df.columns.str.replace(' ', '_') 
df.columns = df.columns.str.replace('(', '') 
df.columns = df.columns.str.replace(')', '')
df.columns = df.columns.str.replace('.', '')  
df.columns = df.columns.str.replace('/', '_')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 227 entries, 0 to 226
Data columns (total 20 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Country                           227 non-null    object
 1   Region                            227 non-null    object
 2   Population                        227 non-null    int64
 3   Area_sq_mi                        227 non-null    int64
 4   Pop_Density_per_sq_mi             227 non-null    object
 5   Coastline_coast_area_ratio        227 non-null    object
 6   Net_migration                     224 non-null    object
 7   Infant_mortality_per_1000_births  224 non-null    object
 8   GDP_$_per_capita                  226 non-null    float64
 9   Literacy_%                        209 non-null    object
 10  Phones_per_1000                   223 non-null    object
 11  Arable_%                          225 non-null    object
 12  Crops_%                           225 non-null    object
 13  Other_%                           225 non-null    object
 14  Climate                           205 non-null    object
 15  Birthrate                         224 non-null    object
 16  Deathrate                         223 non-null    object
 17  Agriculture                       212 non-null    object
 18  Industry                          211 non-null    object
 19  Service                           212 non-null    object
dtypes: float64(1), int64(2), object(17)
memory usage: 35.6+ KB

1)Determinar a quantidade de países por região (Region).

In [6]:
df_agrupado = df.groupby('Region')['Country'].count().reset_index()
df_agrupado

                                 Region  Country
0         ASIA (EX. NEAR EAST)                28
1   BALTICS                                    3
2                  C.W. OF IND. STATES        12
3   EASTERN EUROPE                            12
4               LATIN AMER. & CARIB           45
5   NEAR EAST                                 16
6   NORTHERN AFRICA                            6
7   NORTHERN AMERICA                           5
8   OCEANIA                                   21
9   SUB-SAHARAN AFRICA                        51
10  WESTERN EUROPE                            28

2) Determinar quantos países possuem mais de 100 milhoẽs de habitantes.

In [8]:
#df.query('Population > 100000000').shape[0]
#df[df['Population'] > 100000000].shape[0]
country_big_habitante = df.query('Population > 100000000')
country_big_habitante.shape[0]

11

3) Apresentar a mediana da mortalidade infantil.

In [9]:
df['Infant_mortality_per_1000_births']= pd.to_numeric(df['Infant_mortality_per_1000_births'].str.replace(',','.'),errors='coerce')

In [10]:
df['Infant_mortality_per_1000_births'].median()

21.0

4) A mediana do percentual de área costeira.

In [11]:
df['Coastline_coast_area_ratio']= pd.to_numeric(df['Coastline_coast_area_ratio'].str.replace(',','.'),errors='coerce')

In [12]:
df.Coastline_coast_area_ratio[df['Coastline_coast_area_ratio'] != 0.00].median()

2.02

5) Os percentis de 10 e 90% da taxa de mortalidade (Deathrate).

In [13]:
df['Deathrate']= pd.to_numeric(df['Deathrate'].str.replace(',','.'),errors='coerce')
df['Deathrate'].quantile(q=0.10, interpolation='linear')

4.626

In [14]:
df['Deathrate'].quantile(q=0.90, interpolation='linear')

15.992000000000004

6) Obter a correlação entre mortalidade infantil e renda per capita.

In [15]:
df['Infant_mortality_per_1000_births']= pd.to_numeric(df['Infant_mortality_per_1000_births'].replace(',','.'),errors='coerce')
df[['Infant_mortality_per_1000_births', 'GDP_$_per_capita']].corr()

,Infant_mortality_per_1000_births,GDP_$_per_capita
Infant_mortality_per_1000_births,1.000000,-0.600774
GDP_$_per_capita,-0.600774,1.000000

7) A linha do país com a maior área.

In [16]:
df[df['Area_sq_mi'] == df['Area_sq_mi'].max()]

,Country,Region,Population,Area_sq_mi,Pop_Density_per_sq_mi,Coastline_coast_area_ratio,Net_migration,Infant_mortality_per_1000_births,GDP_$_per_capita,Literacy_%,Phones_per_1000,Arable_%,Crops_%,Other_%,Climate,Birthrate,Deathrate,Agriculture,Industry,Service
169,Russia,C.W. OF IND. STATES,142893540,17075200,"8,4",0.22,"1,02",15.39,8900.0,"99,6","280,6","7,33","0,11","92,56",NaN,"9,95",14.65,"0,054","0,371","0,575"

8) A linha do país com mais telefones.

In [17]:
df['Phones_per_1000']= pd.to_numeric(df['Phones_per_1000'].str.replace(',','.'),errors='coerce')

In [18]:
df['total_fone'] = df['Phones_per_1000'] / 1000 * df['Population']
df[df['total_fone'] == df['total_fone'].max()]

,Country,Region,Population,Area_sq_mi,Pop_Density_per_sq_mi,Coastline_coast_area_ratio,Net_migration,Infant_mortality_per_1000_births,GDP_$_per_capita,Literacy_%,...,Arable_%,Crops_%,Other_%,Climate,Birthrate,Deathrate,Agriculture,Industry,Service,total_fone
42,China,ASIA (EX. NEAR EAST),1313973713,9596960,"136,9",0.15,"-0,4",24.18,5000.0,"90,9",...,"15,4","1,25","83,35","1,5","13,25",6.97,"0,125","0,473","0,403",3.504368e+08

In [19]:
df[df['Phones_per_1000'] == df['Phones_per_1000'].max()]

,Country,Region,Population,Area_sq_mi,Pop_Density_per_sq_mi,Coastline_coast_area_ratio,Net_migration,Infant_mortality_per_1000_births,GDP_$_per_capita,Literacy_%,...,Arable_%,Crops_%,Other_%,Climate,Birthrate,Deathrate,Agriculture,Industry,Service,total_fone
138,Monaco,WESTERN EUROPE,32543,2,"16271,5",205.0,"7,75",5.43,27000.0,"99,0",...,0,0,100,NaN,"9,19",12.91,"0,17",NaN,NaN,33701.5308

9) Os 5 países mais alfabetizados.

In [22]:
df['Literacy_%']= pd.to_numeric(df['Literacy_%'].str.replace(',','.'),errors='coerce')

In [23]:
df.nlargest(5, 'Literacy_%')[['Country','Literacy_%']]

            Country  Literacy_%
4          Andorra        100.0
11       Australia        100.0
54         Denmark        100.0
68         Finland        100.0
119  Liechtenstein        100.0

10) Os 10 países menos industrializados.

In [24]:
df['Industry']= pd.to_numeric(df['Industry'].str.replace(',','.'),errors='coerce')
df.nsmallest(10, 'Industry')[['Country','Industry']]

                 Country  Industry
104              Jersey      0.020
38       Cayman Islands      0.032
44              Comoros      0.040
117             Liberia      0.054
28   British Virgin Is.      0.062
14         Bahamas, The      0.070
122               Macau      0.072
32                Burma      0.082
148       New Caledonia      0.088
91            Hong Kong      0.092